@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #101218;
    font-family: 'dm sans';
    text-align: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.89);
    width: 500px;
    height: 500px;
    max-width: 90%;
    border: 5px solid#ffffffc7;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    box-shadow: 0px 15px 40px 0px #ffffff52;
}

.card > h1 {
    text-align: center;
    font-family: inconsolata, arial, helvetica;
    padding: 10px;
    padding-top: 30px;
    text-shadow: 2px 2px 40px;
}

.card > p {
    padding-top: 20px;
    text-shadow: 2px 2px 40px;
}

.card > img {
    display: block;
    margin: auto;
    box-shadow: 3px 3px 40px;
    border-radius: 50%;
}

.botaowhatsapp {
    margin: 25px;
    padding: 15px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.363); 
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.botaowhatsapp:hover {
    background-color: #dbffdb6e;
    box-shadow: 2px 0px 50px 4px #00ff1552;
}

.botaodiscord {
    width: 82px;
    height: 83px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.363); 
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.botaodiscord:hover {
    background-color: rgba(184, 184, 255, 0.349);
    box-shadow: 2px 0px 50px 4px #0004ff52;
}

.botaogithub {
    margin: 25px;
    padding: 15px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.363); 
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.botaogithub:hover {
    background-color: #0d11171a;
    box-shadow: 2px 0px 50px 4px #3875C2;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 360px), (max-width: 430px) {
    .card button {
        margin: 10px;
        margin-top: 30px;
        max-width: 360px;
        width: 60px;
        height:60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
}
